html body {
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
}


/* nav */
.header1 {
  position: fixed;
  width: 100%;
}
.s1 {
  position: relative;
}
.navbar {
  box-shadow: 5px 5px 10px #1a010150;
  background-color: rgba(2, 2, 2, 0.335);
}
.navbar-brand {
  background-color: rgba(0, 0, 0, 0.055);
}







/* carousal */
.container {
  padding: 0%;
  margin: 0;
  max-width: 100%;
}
.carous{
  height: 80vh;
}



/* about */
.abt{
  padding: 4em;
}

.about {
  text-align:center;
  padding-top: 3em;
  
}
.about1 {
  text-align:left;
  padding: 1em;
  border-radius: 2em;
}
.h22{
    margin-left: .3em;
    
}
.h55{
    margin-left:.6em ;
   
}
.pic1{
    color: rgba(0, 0, 0, 0.897);
    background-color: rgba(255, 235, 205, 0.932);}
.pic2{
    border-radius: .8em;
}

/* button */
.sign{
    font-size: 1em;
    width: 6em;
    padding:.3em;
    background-color: rgba(216, 216, 216, 0.616);
    color: rgba(0, 0, 0, 0.801);
    border:1px solid rgba(0, 0, 0, 0.411);
    border-radius: .7em;
    margin-left:2em;
}
.sign:hover{
    background-color: rgba(32, 32, 32, 0.719);
    color: rgba(245, 245, 245, 0.877);
    transition: ease-in-out 110ms;
}
.pp1{
    margin-left: 3em;
    margin-top: 1em;
    font-size: .7em;
    
}
a{
    text-decoration: none;
    
}


/* District */
.district{
  background-image: url("https://unsplash.com/photos/NpjE6Q69RgI/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NTl8fGtlcmFsYXxlbnwwfHx8fDE2MzU5MDQwOTY&force=true&w=1920");
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  min-height: 70vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
}
/* .pic3{ }*/

.detail{
  padding: 7em;
  background-color:rgba(0, 0, 0, 0.334);;
}
.inside{
  padding: 3em;
  color: rgb(194, 194, 194);
  background-color: rgba(0, 0, 0, 0.808);
  border-radius: 2em;
  line-height: 1.8;
}

/* footer */
.footer1{
  height: 30vh;
  background-color:rgb(0, 0, 0);
  text-align: center;
}
.fab{
  padding: 2em;
  padding-top: 4em;
  color: rgba(245, 222, 179, 0.774);
}



@media screen and (max-width: 500px) {
  .abt{
    padding:0.2em;
  }
  .detail{
    padding: 2em;
  } 
  .inside{
     padding: 2em;
     padding-top: 2.5em;
    }
  .carous{
    height: 14rem;
  }
    }
