* {
  scroll-behavior: smooth;
  padding: 0%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
}
body {
  background-image: linear-gradient(
    
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    url("https://unsplash.com/photos/OFzTf6iZb2Y/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM2OTExMjY4&force=true&w=1920");
    background-size: cover;
    background-repeat: no-repeat;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container {
  padding: 0;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

/* nav */
.header1 {
  position: relative;
  width: 100%;
}
.s1 {
  position: relative;
}
.navbar {
  box-shadow: 5px 5px 10px #1a010150;
  background-color: rgba(70, 70, 70, 0.212);
}
.navbar-brand {
  background-color: rgba(0, 0, 0, 0.055);
}

/* abt and form */
h1 {
  font-size: 20px;
}
.welcome1 {
  position: relative;
  float: left;
  height: 32vh;
  width: 60vh;
  color: rgb(255, 255, 255);
  margin-left: 12rem;
  margin-top: 10rem;
  animation-name: anime1;
  animation-duration: 2s;
}
@keyframes anime1 {
  0% {
    color: rgba(96, 167, 90, 0.171);
    top: 200px;
  }
  100% {
    color: rgb(255, 205, 205);
    top: 0px;
  }
}
.para {
  animation-name: para1;
  animation-duration: 3s;
  margin-left: 5px;
}
@keyframes para1 {
  0% {
    color: rgba(255, 255, 0, 0);
    top: 200px;
  }
  100% {
    color: rgb(255, 255, 255);
    top: 0px;
  }
}

/* form */
.form-control1{
  position: relative;
  border-radius: .4em;
  margin-bottom: 1em;
}

.form {
  background-color: rgba(29, 2, 2, 0.548);
  color: rgb(255, 255, 255);
  width: 25rem;
  padding: 3rem;
  border: 1px solid rgba(0, 0, 0, 0);
  /* border-radius: 10px; */
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 6rem;
  margin-right: 2rem;
}
.form-control{
  position: relative;
  
  
}
.form1{
  padding-top:5px;
	padding-bottom: 20px;
	position: relative;
}
.form1 small{
  color: red;

} 
.form1 i{
  position:absolute;
  top:43px;
  right: 11px;
}
.fa-check-circle{
   color: rgb(21, 148, 21);
}
.fa-exclamation-triangle{
  color: rgb(180, 17, 17);
}
.Eerr{
  visibility:hidden;
}
.vis{
  visibility: hidden;
}

.form1 #checkspace{
  position:absolute;
  margin-top: 10px;
  background-color: rgba(255, 0, 0, 0);
  width: 80%;
  height: 10px;
  border-radius: 10px;
}
/* viewport */




@media only screen and (max-width:991px){
  
  body {
  background-image: linear-gradient(
    
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    url("https://unsplash.com/photos/VH0DZBfo5Wg/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM2OTEwOTA4&force=true&w=1920");
    background-size: 100% 100%;
}
.welcome1 {
  position: relative;
  float: left;
  height: 32vh;
  width: 60vh;
  color: rgb(255, 255, 255);
  margin-left: 5rem;
  margin-top: 10rem;
  animation-name: anime1;
  animation-duration: 2s;
}

.form{
   background-color: rgba(29, 2, 2, 0.548);

  color: rgba(204, 204, 204, 0.829);
  width: 20rem;
  padding: 3rem;
  border: 1px solid rgba(0, 0, 0, 0);
  /* border-radius: 2rem; */
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
}

@media only screen and (max-width:500px){
   body {
  background-image: linear-gradient(
    
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)),
    url("https://unsplash.com/photos/VH0DZBfo5Wg/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjM2OTEwOTA4&force=true&w=1920");
    background-size: 190% 100%;
    background-repeat: no-repeat;
}
  .head2{
    font-size: 30px;
  }
.welcome1 {
  font-size: 8px;
  position: relative;
  text-align: center;
  height:auto;
  width: auto;
  color: rgb(255, 255, 255);
  margin-left: 30%;
  margin-top:30%; 
}

.form{
   background-color: rgba(29, 2, 2, 0.548);

  color: rgba(204, 204, 204, 0.829);
  width: 15rem;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0);
  /* border-radius: 2rem; */
  margin-top: 5rem;
  margin-bottom: 3rem;
  margin-left: 23%;
  margin-right: 25%;
}
}


/* footer */
.footer1 {
  height: 30vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
}
.fab {
  padding: 1em;
  padding-top: 4em;
  color: rgba(245, 222, 179, 0.774);
}
